# Optional. Most of this can also be set in Settings (stored in data/pygmalion.db).
# PYGMALION_PORT=5202
# PYGMALION_DATA_DIR=
# PYGMALION_ALLOWED_HOSTS=
# PYGMALION_HF_TOKEN=
# PYGMALION_WORKERS_DIR=
# PYGMALION_OFFLINE=0
# PYGMALION_SCHEDULER=1
